#footer
    ul.list-menu
        li.list-item
            a.item(href="#") home
        li.list-item
            a.item(href="#") abouts
        li.list-item
            a.item(href="#") project
        li.list-item
            a.item(href="#") portfolio
        li.list-item
            a.item(href="#") contact