#header
    .row.nav
        .col-3
            a.nav-logo(href="#") logo
                img(src="", alt="", srcset="")
        .col-9
            ul.list-menu
                li.list-item
                    a.item(href="#") home
                li.list-item
                    a.item(href="#") abouts
                li.list-item
                    a.item(href="#") project
                li.list-item
                    a.item(href="#") portfolio
                li.list-item
                    a.item(href="#") contact
    