extends _layout/layout
//- Các giá trị mặc định cho trang web
block variables
    - var title = 'Home'
    - var description = 'Description for home page'
    - var bodyclass = 'home'

//-Phần khai báo cho body
block body
    .container
        h1 tam dep trai
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur facere ipsa debitis illo adipisci optio. Expedita rem repellendus nesciunt, quos eos enim possimus voluptatem sit veritatis quas optio! Maxime, odio.